@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

:root {
  font-size: 18px;
  --main-font: Raleway, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(https://picsum.photos/1536/722);
  background-size: cover;
  color: #444;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.6)
  );
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
.error {
  color: #ff3f80;
  font-size: 14px;
}
button {
  text-decoration: none;
  background: #5ae4ca;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
button:focus,
input:focus {
  outline: none;
}
